<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:include="~{index.html :: navbar}"></div>


<form action="#" th:action="@{/editNews/{id}(id=${news.id})} " method="post" th:object="${news}" enctype="multipart/form-data">

    <input class="w3-input" placeholder="title" th:field="*{title}" />
    <textarea class="w3-input" placeholder="content" th:field="*{content}" style="resize: none" ></textarea>
    <input class="w3-input" placeholder="mediaFiles" type="file" name="file" formenctype="multipart/form-data"/>
    <input type="submit" class="w3-button w3-padding-large w3-white w3-border" placeholder="Save"/>

</form>

</body>
</html>