<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>CloudDrive</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
    .w3-sidebar {
        z-index: 3;
        width: 250px;
        top: 43px;
        bottom: 0;
        height: inherit;
    }
    
</style>
<body>

<div th:include="~{index.html :: navbar}"></div>

<div class="w3-main" >

    <div th:each="news : ${newsList}">
        <div class="w3-card-4" style="margin: auto; height: auto; max-width: 1000px;">
            <div class="">
                <h1 class="w3-text-teal" th:text="${news.title}"></h1>
                <img th:src="${news.pathToPic}" style="width: 30%; height: 30%;"/>
                <p th:text="${news.content}" style="text-overflow: ellipsis;"></p>
            </div>
            <div th:if="${user.equals('admin')}">
                <a th:href="|/editNews/${news.id}|">
                    <button class="w3-btn w3-white w3-border w3-border-blue w3-round">Edit Page</button>
                </a>
            </div>
            <a th:href="|/news/${news.id}|">
                <button class="w3-btn w3-white w3-border w3-border-blue w3-round">Read more</button>
            </a>
        </div>

    </div>


    <footer id="myFooter">
        <div class="w3-container w3-theme-l2 w3-padding-32">
            <h4>Footer</h4>
        </div>

        <div class="w3-container w3-theme-l1">
            <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </div>
    </footer>

    <!-- END MAIN -->
</div>


<script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
</body>
</html>
