<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title th:text="${news.title}"></title>
<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
    .w3-sidebar {
        z-index: 3;
        width: 250px;
        top: 43px;
        bottom: 0;
        height: inherit;
    }
</style>
<body>

<div th:include="~{index.html :: navbar}"></div>


<div class="w3-card-4">
    <div style="align-items: center">
        <h1 class="w3-text-teal" th:text="${news.title}"></h1>
        <img th:src="${news.pathToPic}" width="50%" height="50%"/>
        <p th:text="${news.content}"></p>
    </div>
    <a th:href="|/editNews/${news.id}|">
        <button class="w3-button w3-black">Edit</button>
    </a>
</div>


</body>
</html>
